@media (max-width:1279px) {
    .title {
        margin-bottom: 85px;
    }
}

@media (max-width:999px) {
    .title {
        margin-bottom: 80px;
    }
}

@media (max-width:767px) {
    .title {
        margin-bottom: 30px;
    }
}