@use 'src/styles/use/colors.scss';

.inner {
    display: grid;
    grid-template-columns: 555px 1fr;
    justify-content: space-between;
    grid-gap: 45px;
    align-items: flex-start;
}


.item {
    align-items: flex-start;
    grid-gap: 34px;
    padding: 40px 0;
    position: relative;
    border-bottom: 1px solid #00000033;

    &__number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 6px;
        font-weight: 500;
        font-size: 24px;
        line-height: 26px;
        background-color: colors.$primary;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__col {
        align-items: center;
        grid-gap: 34px;
    }

    &__text {
        margin-top: 0px;
        visibility: hidden;
        overflow: hidden;
        max-height: 0;
        line-height: 28px;
        padding-left: 74px;
        transition: 0.8s;
    }

    &__icon svg rect {
        transition: all .3s;
    }

}

.opened {
    .item__text {
        margin-top: 24px;
        visibility: visible;
        // opacity: 1;
        max-height: 700px;
    }

    .item__icon svg rect:nth-of-type(2) {
        transform: rotate(90deg);
        transition: all 0.3s;
        opacity: 0;
        transform-origin: 12px 12px;

    }
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 182px;
    padding: 117px 54px 145px;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../../images/homeAboutBg.jpg');
}

.text {
    line-height: 32px;
}

@media(max-width:1279px) {
    .inner {
        grid-template-columns: 419px 1fr;
        grid-gap: 31px;
    }

    .item {
        align-items: flex-start;
        grid-gap: 34px;
        padding: 25px 0;

        &__head {
            grid-gap: 24px;
        }
    }

    .title {
        margin-bottom: 90px;
    }

    .col {
        grid-gap: 116px;
        padding: 114px 36px 110px;
    }
}

@media(max-width:999px) {
    .inner {
        grid-template-columns: 1fr;
        grid-gap: 53px;
    }

    .text {
        max-width: 570px;
        width: 100%;
        margin: 0 auto;
    }

    .col {
        padding: 38px 60px 42px;
        grid-gap: 57px;
    }

    .img {
        width: 315px;
        height: 619px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media(max-width: 767px) {
    .inner {
        grid-gap: 25px;
    }

    .text {
        max-width: 340px;
        line-height: 25px;
    }

    .col {
        padding: 23px 10px 35px;
        grid-gap: 30px;
    }

    .item__col {
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-gap: 15px;
    }

    .item__text {
        padding-left: 0;
        line-height: 22px;
    }
}