.item {
    background-color: #fff;
    padding: 44px 58px;
    overflow: hidden;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    &__head {
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        svg rect {
            transition: all .3s;
        }
    }

    &__title {
        padding: 20px 40px 20px 0;
        max-width: 650px;
        width: 100%;
    }

    &__spoller {
        visibility: hidden;
        overflow: hidden;
        max-height: 0;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        transition: .4s ease-in-out;
    }

    &__head.opened svg rect:nth-of-type(2) {
        transform: rotate(90deg);
        transition: all 0.3s;
        transform-origin: 12px 12px;
    }

    &__head.opened~.item__spoller {
        visibility: visible;
        max-height: 3000px;
    }

    img {
        width: 100%;
        object-fit: cover;
    }

    &__content {
        display: grid;
        grid-template-columns: 612px 1fr;
        grid-gap: 92px;
        margin-bottom: 10px;
    }

    &__text p {
        margin-bottom: 22px;
    }

    &__images {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;

        img {
            height: 258px;
        }
    }

    &__bottomText {
        margin-top: 50px;
    }

    &__bottomImages {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin-bottom: 30px;

        img {
            height: 375px;
        }
    }
}

@media(max-width: 1279px) {
    .item {
        padding: 40px 58px;

        &__title {
            padding: 20px 0px 20px 0;
            max-width: 474px;
        }


        &__content {
            grid-template-columns: 450px 1fr;
            grid-gap: 30px;
            margin-bottom: 17px;
        }


        &__images {
            grid-gap: 11px;

            img {
                height: 318px;
            }
        }
        &__bottomText {
            margin-top: 78px;
        }
        &__bottomImages {
            grid-gap: 8px;

            img {
                height: 269px;
            }
        }
    }
}

@media(max-width: 999px) {
    .item {
        &__title {
            max-width: 466px;
        }

        &__content {
            grid-template-columns: 1fr;
            grid-gap: 33px;
            margin-bottom: 20px;
        }

        &__images {
            grid-gap: 12px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 40px;

            img {
                height: 305px;
            }
        }
        &__bottomText {
            margin-top: 48px;
        }
        &__bottomImages {
            grid-gap: 8px;
            grid-template-columns: 1fr;
            margin-bottom: 17px;

            img {
                height: 415px;
            }
        }
    }
}

@media(max-width: 767px) {
    .item {
        padding: 10px 10px;

        &__title {
            padding-right: 13px;
            font-size: 16px;
            line-height: 28px;
        }

        &__text p {
            margin-bottom: 21px;
        }

        &__content {
            grid-template-columns: 1fr;
            grid-gap: 33px;
            margin-bottom: 0px;
        }

        &__images {
            grid-gap: 7px;
            margin-bottom: 21px;

            img {
                height: 175px;
            }
        }
        &__bottomText {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        &__bottomImages {
            grid-gap: 8px;
            grid-template-columns: 1fr;
            margin-bottom: 20px;

            img {
                height: 285px;
            }
        }
    }
}